<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>InputSearch</servlet-name>
    <servlet-class>libutil.InputSearch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RenameTableRec</servlet-name>
    <servlet-class>libutil.RenameTableRec</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTableRec</servlet-name>
    <servlet-class>libutil.AddTableRec</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelTableRec</servlet-name>
    <servlet-class>libutil.DelTableRec</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InputAdd</servlet-name>
    <servlet-class>libutil.InputAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputAdd</servlet-name>
    <url-pattern>/InputAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InputSearch</servlet-name>
    <url-pattern>/InputSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InputSearch</servlet-name>
    <url-pattern>/InputSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RenameTableRec</servlet-name>
    <url-pattern>/RenameTableRec</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTableRec</servlet-name>
    <url-pattern>/AddTableRec</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelTableRec</servlet-name>
    <url-pattern>/DelTableRec</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <resource-ref>
    <res-ref-name>jdbc/IFPWAFCAD.</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
</web-app>