/* 
    Document   : Lib-Tables
    Created on : 15 Ιουν 2011, 5:29:05 μμ
    Author     : Dimitris
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
  display: block;
}


h1 {
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 25px;
   font-weight: bold;
   color: #CC0099;
   display: inline; 
}


h2 {
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 17px;
   font-weight: bold;
   /*color: #FFFFFF;*/
   	color: #FFFF00;
   	display: inline; 
}

body {
   /*margin-left: 15%; margin-right: 15%;*/
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 14px;
   color: #333333;
   background-color: #6666CC;
   /*background-color: #FF1DCC;*/
}

label {
  font-family: Georgia, "Times New Roman", Times, serif;
   /*font-size: 24px;*/
   font-weight: bold;
   color: #FFFFFF;
}

T {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #FFFFFF;
}

zz
{
position:absolute;
left:352px;
}

br { clear: left; }


.suggestionsBox {
position: relative;
top: -250px;
left: 120px;
margin: 0px 0px 0px 0px;
width: 200px;
background-color: #7845DD;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border: 2px solid #000;
color: #fff;
}
.suggestionList {
margin: 0px;
padding: 0px;
}

.suggestionList li {
margin: 0px 0px 3px 0px;
padding: 3px;
cursor: pointer;
}

.suggestionList li:hover {
background-color: #DD45CD;
}

.steer:enabled {
	color: red;
}

.steer {
	color: lightgrey;
}