/* 
    Document   : Lib-Main-Search
    Created on : 26 Ξ� Ξ�Β±Ξ�  2011, 10:40:05 Ξ�β‚¬Ξ�Ξ�
    Author     : Dimitris
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
 
h1 {
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 25px;
   font-weight: bold;
   color: #CC0099;
   display: inline; 
}

h2 {
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 17px;
   /*font-weight: bold;*/
   /*color: #000000;*/
   color: #0000FF;
   display: inline;
}

td {
	border-bottom: navy solid thin;
	border-top: navy solid thin;
	border-left: none;
	border-right: none;
	font-size: small;
}

body {
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 14px;
   color: #333333;
}

.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

#color {
  background-color: white;
  float: left;
}

#opacity    {
    opacity : 0.4;
    filter: alpha(opacity=40); 
}

a.button {
    background: transparent url('bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    margin-left: 15px;
    text-decoration: none;
}

a.button span {
    background: transparent url('bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

.suggestionsBox {
position: relative;
top: -200px;
left: 120px;
margin: 0px 0px 0px 0px;
width: 200px;
background-color: #7845DD;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border: 2px solid #000;
color: #fff;
}
.suggestionList {
margin: 0px;
padding: 0px;
}

.suggestionList li {
margin: 0px 0px 3px 0px;
padding: 3px;
cursor: pointer;
}

.suggestionList li:hover {
background-color: #DD45CD;
}

.steer:enabled {
	color: red;
}

.steer {
	color: lightgrey;
}
